langfuse:
  encryptionKey:
    secretKeyRef:
      name: langfuse
      key: encryption-key

  salt:
    secretKeyRef:
      name: langfuse
      key: salt

  nextauth:
    secret:
      secretKeyRef:
        name: langfuse
        key: nextauth-secret

  deployment:
    replicas: 1

web:
  replicas: 1
  keda:
    enabled: false
  hpa:
    enabled: false

worker:
  replicas: 1
  keda:
    enabled: false
  hpa:
    enabled: false

postgresql:
  architecture: standalone
  auth:
    existingSecret: langfuse
    secretKeys:
      adminPasswordKey: postgres-password
      userPasswordKey: password

clickhouse:
  replicaCount: 1
  shards: 1
  auth:
    existingSecret: langfuse
    existingSecretKey: clickhouse-password

zookeeper:
  replicaCount: 1

redis:
  architecture: standalone
  auth:
    existingSecret: langfuse
    existingSecretPasswordKey: redis-password

s3:
  auth:
    existingSecret: langfuse
    rootUserSecretKey: s3-user
    rootPasswordSecretKey: s3-password
