services:
  qdrant:
    image: qdrant/qdrant:v1.14.1
    container_name: qdrant
    ports:
      - "${QDRANT_PORT}:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  resto:
    build:
      context: ./app # Specifies the build context as the ./app directory
      dockerfile: Dockerfile # Uses the Dockerfile in the build context
    environment:
      - OLLAMA=http://ollama-resto:11434
      - QDRANT_HOST=${QDRANT_HOST}
      - QDRANT_PORT=${QDRANT_PORT}
    container_name: resto # Sets the container name to resto
    ports:
      - "${APP_PORT}:8501" # Maps port 8501 on the host to port 8501 in the container
    depends_on:
      - qdrant
      - ollama-resto # Ensures the ollama service is started before resto

  ollama-resto:
    image: ollama/ollama:0.15.5 # Specifies the Ollama image to use
    container_name: ollama-resto # Sets the container name to ollama
    ports:
      - "${OLLAMA_PORT}:11434" # Maps port 11434 on the host to port 11434 in the container
    volumes:
      - ollama_data:/root/.ollama

volumes:
  qdrant_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${QD_DATA_DIR}
  ollama_data: # Defines the ollama_data volume
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${OLLAMA_DATA_DIR}
